<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>net.linzner.LaunchBar.action.KeyboardMaestro</string>
	<key>CFBundleName</key>
	<string>Keyboard Maestro Macros</string>
	<key>CFBundleIconFile</key>
	<string>com.stairways.keyboardmaestro.editor</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6015</integer>
	<key>LBRequiredApplication</key>
	<string>com.stairways.keyboardmaestro.editor</string>
	<key>LBAssociatedApplication</key>
	<string>com.stairways.keyboardmaestro.editor</string>
	<key>LBTextInputTitle</key>
	<string>Macro Name</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.js</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBLiveFeedbackEnabled</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>This action lists all Keyboard Maestro macros available in the current context to quickly search and execute them with LaunchBar.</string>
		<key>LBAuthor</key>
		<string>Manfred Linzner</string>
		<key>LBTwitter</key>
		<string>@mlinzner</string>
		<key>LBWebsiteURL</key>
		<string>https://www.linzner.net/</string>
		<key>LBUpdateURL</key>
		<string>https://github.com/mlinzner/LaunchBarActions/raw/master/actions/Keyboard%20Maestro/Keyboard%20Maestro%20Macros.lbaction/Contents/Info.plist</string>
		<key>LBDownloadURL</key>
		<string>https://github.com/mlinzner/LaunchBarActions/blob/master/actions/Keyboard%20Maestro/packages/Keyboard%20Maestro%20Macros.lbaction?raw=true</string>
		<key>LBChangelog</key>
		<string>Added support for Update Checks.</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Manfred Linzner</string>
</dict>
</plist>
